#butoni1{
    background-color: purple;
    color: white;
}

#butoni2{
    background-color: lightblue;
    color: black;
    
}

.leftnav1{
display: flex;
}
.leftnav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 11em;
}